# Intro to MYSQL

ssh p4student@172.16.101.139
passwd: 1027210907

*MYSQL is a service on the internet*

### **Service Classes**

* Class A: Empresarial, 0-127 WAN
* Class B: Municipal, 128-191 MAN
* Class C: Domestico, 192-223 LAN

### **Ports**

*Ports are the means in which you access a certain part of an IP*

**Different Ports**

* 80 HTTP
* 443 HTTPS
* 21 FTP
* 22 SSH
* 3306 MYSQL